$purple: #57309B;
$white: #FFF;
$hover-white: #dfdfdf;
$dirty-white: #F2EDF8;
$green: #12CA90;
$red: #ff6708;
$card-icon-green: #12ca90;
$text-purple: #57309B;
$hover-purple: #492a80;
$black: #000000;
$hoagie-big-height: 480px;

:export {
    cardIconGreen: $card-icon-green;
    cardIconRed: $red;
    cardIconPurple: $purple;
    hoagieBigHeight: $hoagie-big-height;
}

/* ... Global Spacing ... */
$mobilePaddingX: 10px;
$containerMaxWidth: 1125px; 
$containerPaddingX: 60px;
/* Useful for some container-based fixed scaling */
$containerWidth: $containerMaxWidth - 2 * $containerPaddingX;

$desktopWidth: $containerMaxWidth;
$tabletWidth: 768px;

@mixin nondesktop {
    @media (max-width:#{$desktopWidth - 1}) {
      @content;
    }
  }

  @mixin mobile {
    @media (max-width: #{$tabletWidth - 1}) {
      @content;
    }
  }