$purple: #57309B;
$dirty-white: #F2EDF8;
$green: #12CA90;
$red: #ff6708;
$card-icon-green: #12ca90;
$text-purple: #57309B;
$black: #000000;

:export {
    cardIconGreen: $card-icon-green;
    cardIconRed: $red;
    cardIconPurple: $purple;
}

/* ... Global Spacing ... */
$mobilePaddingX: 10px;
$containerMaxWidth: 1125px; 
$containerPaddingX: 50px;
/* Useful for some container-based fixed scaling */
$containerWidth: $containerMaxWidth - 2 * $containerPaddingX;
