@import '../styles/variables.module';

.container {
  display: flex;
  justify-content: center;
}

.card {
  margin: 20px;
  width: 100%;
  max-width: 700px;
  padding: 50px 50px 60px 50px;
  background: white;
  border-radius: 20px;
  font-family: 'Montserrat';
}

.title_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title_section svg .red {
  fill: $red;
}

.title_section svg .purple {
  fill: $purple;
}

.title_section svg .green {
  fill: $card-icon-green
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: $text-purple;
  margin: 0;
}

p {
  font-size: 26px;
  line-height: 32px;
  color: $black;
  margin: 0;
}

b {
    color: $black;
}

@include mobile {
  .card {
    padding: 40px 40px 50px 40px;
  }
  p {
    font-size: 20px;
  }
  .title_section h1 {
    margin-top: 60px;
  }
  .title_section svg {
    position: absolute;
    height: 60px;
    top: 50px;
  }
}